:root {
  --color-white: #ffffff;
  --color-orange: #ff4e25;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  background-color: #e4e4e4 !important;
  height: 100%;
}
body::-webkit-scrollbar {
  display: none;
}
a {
  color: inherit;
  text-decoration: none;
}
.mb_unset {
  margin-bottom: unset;
}
.mt_5 {
  margin-top: 5rem;
}
.mb_5 {
  margin-bottom: 5rem;
}
#text1 {
  opacity: 0;
}
#centerTextIcon > i {
  opacity: 0;
}
#centerTextIcon > span {
  opacity: 0;
}
.slide2Heading h1 {
  display: none;
  font-size: 3.6rem;
  text-align: right;
  font-weight: 300;
  text-transform: uppercase;
}
.slide2Heading span {
  display: none;
}
.slide2Heading > div {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.sliderTwoIcon {
  transform: translate(-10px, 22px);
}
.sliderTwoIcon i {
  font-size: 18px;
  color: rebeccapurple;
  margin: 3px 3px;
  opacity: 0;
}
.sliderTwoIcon p {
  opacity: 0;
  font-size: 12px;
}
.assistanceText {
  text-transform: uppercase;
  background-color: #d7e8f6;
  padding: 7px;
  border-radius: 20px;
  margin: 10px;
  color: var(--color-orange);
}
.imageHide {
  transform: translate(-50px, 0px);
  z-index: -2;
}
.opicity_0 {
  opacity: 0;
}
.lineThreeImage img {
  opacity: 0;
}
.lineThreeImage > img:nth-child(2) {
  transform: translate(-50px, 0px);
  z-index: -2;
}
.lineThreeImage > img:nth-child(3) {
  transform: translate(-100px, 0px);
  z-index: -3;
}
.sliderImages {
  position: absolute;
  top: -60px;
  height: 80vh;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: -2;
  opacity: 0;
}
.sliderImages img {
  object-fit: fill;
  border-radius: 15px;
  margin: 10px;
}
.sliderImagesOne {
  transform: translate(0px, 20px);
}
.sliderImagesTwo {
  transform: translate(0px, -20px);
}
.slideimageThree {
  opacity: 0;
  margin-top: 14vh;
}
.slideimageThree i {
  margin: 10px;
  font-size: 20px;
}
.slideimageThree h1 {
  text-transform: uppercase;
}
.slideimageThree button {
  text-transform: capitalize;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  background-color: transparent;
}
.slideimageThree button:nth-child(1) {
  background-color: var(--color-orange);
  border: 0px;
}
